body{
    background-color:#E8F3D6;
}


.icon{
    width:20%;
    height:5%;

}
#navigation {
    padding: 3% 10%;
    
}
.copy-r{
    margin: 0px auto;
    text-align: center;
    
}
.row{
    padding:3% 10%;
}
.card{
    margin-bottom: 5%;
    padding:2%;
}
